/* ============================ Background Colour ============================= */
.background {
    -fx-background-color: #f5f5f5;
}

/* ============================ Container Styling ============================= */
.top-container {
    -fx-background-color: white;
}
.side-container {
    -fx-background-color: white;
}

.search-box {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.search-bar {
    -fx-background-radius: 15px;
    -fx-background-color: #F5F5F5;
}

.widget-container {
    -fx-background-color: white;
    -fx-border-color: #F5F5F5;
    -fx-background-radius: 10;
}
.widget-line {
    -fx-border-color: #F5F5F5;
    -fx-border-width: 0.5;
    -fx-max-height: 0;
}

.list-pane {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10px;
}

.list-pane .list-cell:selected .text,
.list-pane .list-cell:selected .label {
    -fx-fill: black;
    -fx-text-fill: black;
}

.list-pane .list-cell {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.list-pane .list-cell:selected {
    -fx-background-color: #8f9bb3;
    -fx-text-fill: white;
}

.analytics-graph {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.list-cell:even,
.list-cell:odd {
    -fx-background-color: transparent;
}

.list-pane .scroll-bar:vertical,
.list-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.list-pane-waiter {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10px;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

#orderitemslistview .list-cell {
    -fx-text-fill: black;
    -fx-background-color: white;
}

#orderitemslistview .list-cell:selected {
    -fx-background-color: #8f9bb3;
    -fx-text-fill: black;
}

#orderitemslistview .list-cell:selected .text {
    -fx-fill: black;
}

#orderitemslistview .list-cell:selected .label {
    -fx-text-fill: black;
}

.combo-box-popup .list-cell {
    -fx-text-fill: #0095FF;
    -fx-background-color: white;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #0095FF;
}

.combo-box-base .text {
    -fx-fill: #0095FF;
    -fx-font-size: 15px;
    -fx-font-family: "Open Sans";
}

.add-note-label {
    -fx-text-fill: blue;
    -fx-cursor: hand;
}

.list-cell .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 0;
}

.topseller-container {
    -fx-background-color: #EFF4FA;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
}

.manage-menu-container,
.list-menu-container,
.manage-user-container,
.list-user-container,
.manage-stock-container,
.list-stock-container,
.manage-analytics-container {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;
}

.table-header {
    -fx-background-color: #EFF4FA;
}

.button-bar {
    -fx-background-color: white;
    -fx-spacing: 20px;
}

.table-header {
    -fx-background-color: #EFF4FA;
}

.order-container, .button-container {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;
}

.order-highlevel-container {
    -fx-background-color: #EFF4FA;
}
/* ============================ TabPane Styling ============================= */
.tab-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #F5F5F5;
    -fx-effect: null;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 10px 10px 0px 0px;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: center;
    -fx-text-fill: #4A85F6;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-area .tab-label {
    -fx-alignment: center;
}

.tab {
    -fx-background-color: white;
    /*-fx-pref-width: 170;*/
    -fx-pref-height: 40;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
    -fx-border-radius: 10 10 10 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.searchtab {
}

.tab:selected {
    -fx-text-fill: #4A85F6;
}

.tab:hover {
    -fx-background-color: #EFF4FA;
}

.pane-style {
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 10;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

/* ============================ Cook Styling ============================= */
.list-pane-cook {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10px;
}

.list-pane-cook .scroll-bar:horizontal,
.list-pane-cook .scroll-bar:vertical {
    -fx-opacity: 0;
}

/* ============================ Dynamic Styles ============================= */
.vbox-order {
    padding: 10px;
    spacing: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #f9f9f9;
}

.label-order-number {
    font-size: 30px;
    font-weight: bold;
}

.label-user-id,
.label-time-ordered,
.label-items,
.label-total,
.label-item {
    font-size: 14px;
    font-weight: normal;
}

.vbox-items {
    spacing: 5px;
}

.vbox-order-selected .label-order-number,
.vbox-order-selected .label-user-id,
.vbox-order-selected .label-time-ordered,
.vbox-order-selected .label-items,
.vbox-order-selected .label-item,
.vbox-order-selected .label-total {
    -fx-text-fill: black;
}

/* ============================ Text Styling ============================= */
.logo-text {
    -fx-text-fill: #757575;
    -fx-font-size: 12;
}

.line,
.container-line {
    -fx-border-color: #4A85F6;
    -fx-border-width: 1;
}

.message-label {
    -fx-text-fill: #757575;
    -fx-font-size: 12px;
    -fx-font-family: "Arial", sans-serif;
}

.hello-label {
    -fx-text-fill: #0A0A0A;
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-font-family: "Arial", sans-serif;
}

.heading {
    -fx-text-fill: #4A85F6;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial", sans-serif;
}

.widget-name-style{
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: "Arial", sans-serif;
}

.notes-labeltext{
    -fx-text-fill: #black;
    /*-fx-font-weight: 700;*/
}

.stockalert-labeltext{
    -fx-text-fill: #black;
    /*-fx-font-weight: 700;*/
}

.stockalert-level-no {
    -fx-background-color: #FCDBDB;
    -fx-text-fill: #F04B4B;
    -fx-font-size: 15;
    -fx-background-radius: 5;
}

.stockalert-level-low {
    -fx-background-color: #FFF5D9;
    -fx-text-fill: #F0C54E;
    -fx-font-size: 15;
    -fx-background-radius: 5;
}

.stockalert-level-in {
    -fx-background-color: #E1FFE0;
    -fx-text-fill: #69C166;
    -fx-font-size: 15;
    -fx-background-radius: 5;
}

.stockalert-status-on {
    -fx-background-color: #E0EEFF;
    -fx-text-fill: #74AEF4;
    -fx-font-size: 15;
    -fx-background-radius: 5;
}
.stockalert-status-not {
    -fx-background-color: #ECEEF0;
    -fx-text-fill: #A2A4A6;
    -fx-font-size: 15;
    -fx-background-radius: 5;
}

.userlog-labeltext{
    -fx-text-fill: #black;
    /*-fx-font-weight: 700;*/
}

.topseller-labeltext{
    -fx-text-fill: #black;
    /*-fx-font-weight: 700;*/
}

.database-label {
    -fx-text-fill: #8f9bb3;
    -fx-font-size: 15px;
    -fx-font-family: "Arial", sans-serif;
}

.container-label {
    -fx-text-fill: #222b45;
    -fx-font-size: 17px;
    -fx-font-family: "Arial", sans-serif;
}

.order-label {
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Arial", sans-serif;
}

.order-number,
.customers-label,
.table-label,
.docket-label {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-font-family: "Arial", sans-serif;
}

.customers-label, .table-label {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: "Arial", sans-serif;
}

.amount-label {
    -fx-text-fill: #4A85F6;
    -fx-font-size: 15px;
    -fx-font-family: "Arial", sans-serif;
}

.buttonprice-label {
    -fx-text-fill: #8f9bb3;
    -fx-font-size: 15px;
    -fx-font-family: "Arial", sans-serif;
}

/* ============================ Button Styling ============================= */
.side-bar-button,
.logout-button {
    -fx-background-color: white;
    -fx-text-fill: #4a4a4a;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.side-bar-button:hover,
.logout-button:hover {
    -fx-background-color: #4A85F6;
    -fx-text-fill: white;
}

.home-button,
.menu-button,
.user-button,
.stock-button,
.analytics-button {
    -fx-text-fill: #4A85F6;
    -fx-background-color: white;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.notes-add {
    -fx-background-color: #DBE7FD;
    -fx-text-fill: #4A85F6;
    -fx-font-size: 10;
    -fx-background-radius: 2;
    -fx-cursor: hand;
}

.notes-remove {
    -fx-background-color: #FCDBDB;
    -fx-text-fill: #F04B4B;
    -fx-font-size: 10;
    -fx-background-radius: 2;
    -fx-cursor: hand;
}

.submit-button,
.add-button,
.cancel-button {
    -fx-background-color: #4A85F6;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.submit-button-waiter {
    -fx-background-color: #A5CC72;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

.customize-button,
.item-correct,
.filter-button {
    -fx-background-color: #4A85F6;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
}

.restart-button,
.voiditem-button {
    -fx-background-color: #dc4242;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

.item-button {
    -fx-background-color: #EFF4FA;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-font-family: "Open Sans";
}

.logout-button-waiter-cook {
    -fx-background-color: transparent;
    -fx-text-fill: #4A85F6;
    -fx-font-size: 17px;
    -fx-cursor: hand;
}

.logout-button-waiter-cook:hover {
    -fx-background-color: #4A85F6;
    -fx-text-fill: white;
}

/* ============================ ComboBox Styling ============================= */
.combo-box .list-cell {
    -fx-text-overrun: ellipsis;
    -fx-max-width: 0;
}

.combo-box-base .text {
    -fx-fill: #4A85F6;
    -fx-font-size: 14px;
    -fx-font-family: "Arial", sans-serif;
}

.combo-box {
    -fx-text-fill: #4A85F6;
    -fx-font-size: 15px;
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: transparent;
}

.combo-box .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0em 0.0em 0.0em;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0em 0em 0em 0em;
    -fx-shape: null;
}

/* ============================ Icon Button Styling ============================= */
.icon-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-content-display: graphic-only;
}

.chart-pie .chart-legend-item .label {
    -fx-text-fill: -fx-text-base-color;
}

.chart-pie .chart-legend-item:selected .label {
    -fx-text-fill: -fx-selection-bar-text;
}
