.vbox-order {
    padding: 10px;
    spacing: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #f9f9f9;
}

.label-order-number {
    font-size: 30px;
    font-weight: bold;
}

.label-user-id, .label-time-ordered, .label-items, .label-total, .label-item {
    font-size: 14px;
    font-weight: normal;
}

.vbox-items {
    spacing: 5px;
}

.vbox-order-selected .label-order-number,
.vbox-order-selected .label-user-id,
.vbox-order-selected .label-time-ordered,
.vbox-order-selected .label-items,
.vbox-order-selected .label-item,
.vbox-order-selected .label-total {
    -fx-text-fill: black;
}